.btn {
    min-width: 107px;
    min-height: 44px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    line-height: 175%;

    &:hover{
        opacity: .8;
        cursor: pointer;
    }

    &--primary {
        color: #fff;
        background: #572af8;
    }
    &--normal {
        background: transparent;
    }
}
