*,
::before,
::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Manrope", sans-serif;
    background: #fafafa;

    color: #191720;
}
h1,
h2,
h3,
h4 {
    font-family: "Roboto Serif", serif;
}
a {
    text-decoration: none;
    color: inherit;
}
button,
input {
    border: none;
    outline: none;
    color: inherit;
}
