<div class="container">
    <div class="top-bar">
        <!-- logo -->
        <div class="logo">
            <span class="logo__text">F</span>
            <img class="logo__icon" src="../asset/icons/logo-1.svg" alt="" />
            <img class="logo__icon" src="../asset/icons/logo-icon2.svg" alt="" />
            <span class="logo__text">DEAST</span>
        </div>

        <!-- navbar -->
        <nav class="navbar d-md-none d-flex">
            <ul class="navbar__list">
                <li>
                    <a href="#!" class="navbar__link">Get the app</a>
                </li>
                <li>
                    <a href="#!" class="navbar__link">About</a>
                </li>
                <li>
                    <a href="#!" class="navbar__link">
                        Page
                        <img src="../asset/icons/arrow-down.svg" alt="" class="navbar__icon" />
                    </a>
                </li>
            </ul>
        </nav>

        <!-- act -->
        <div class="top-act d-md-none d-flex">
            <a class="btn btn--normal top-act__link" href="">Sign In</a>
            <a class="btn btn--primary top-act__link" href="">Sign Up</a>
        </div>

        <!-- More -->
        <img src="../asset/icons/more.svg" alt="" class="top-bar__more d-none d-md-block" />
        <div class="top-menu">
            
        </div>
    </div>
    <!-- hero -->
    <div class="hero">
        <div class="row row-cols-2 row-cols-lg-1 gy-lg-2">
            <div class="col">
                <!-- hero-info -->
                <div class="hero__info">
                    <span class="hero__lable">#The Best in Town</span>
                    <h2 class="hero__title">
                        Get food
                        <img class="hero__title-icon" src="../asset/icons/title-icon1.svg" alt="" />
                        delivery and more
                        <img class="hero__title-icon" src="../asset/icons/title-icon2.svg" alt="" />
                    </h2>
                    <p class="hero__desc">You want it. We get it. Food, drinks, groceries, and more available for delivery and pickup.</p>

                    <!-- Hero-form -->
                    <form action="" class="hero__form">
                        <div class="hero__form-group">
                            <div class="hero__form-input-group">
                                <img src="../asset/icons/location.svg" alt="" class="hero__form-icon" />
                                <input type="text" placeholder="Location or zip code" class="hero__form-input" />
                            </div>
                            <button class="btn btn--primary hero__form-btn">Explore</button>
                        </div>
                    </form>

                    <!-- get app -->
                    <div class="hero__download">
                        <span class="hero__download-lable">Get the app:</span>
                        <div class="hero__download-group">
                            <img src="../asset/icons/android.svg" alt="" />
                        </div>
                        <div class="hero__download-group">
                            <img src="../asset/icons/ios.svg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <!-- hero-img -->
                <div class="hero__img">
                    <img src="../asset/img/hego-img/bg.svg" alt="" class="hero__bg" />
                </div>
            </div>
        </div>
    </div>
</div>
