@use "../abstracts";
.header {
    background: #fffae3;
}
.top-bar {
    display: flex;
    align-items: center;
    padding: 37px 0;

    &__more {
        margin-left: auto;
        padding: 8px;
    }
}
.navbar {
    margin-left: 316px;
    @include abstracts.screen(xl) {
        margin-left: 120px;
    }
    &__arrow-left {
        width: 35px;
        padding-left: 10px;
        color: #191720;
        margin-bottom: 12px;
    }

    @include abstracts.screen(lg) {
        background: #fff;
        position: fixed;
        z-index: 1;
        right: 0;
        top: 0;
        left: 20%;
        bottom: 0;
        @include abstracts.screen(md) {
            left: -15%;
        }

        padding: 20px;
        transform: translateX(100%);
        transition: all 0.5s;

        &.show {
            transform: translateX(0);
        }
    }
    &__overley {
        position: fixed;
        inset: 0;
        background: rgba($color: #000000, $alpha: 0.4);
        z-index: 0;
        z-index: 0;

        opacity: 0;
        visibility: hidden;
        &.show {
            opacity: 1;
            visibility: visible;
        }
    }
    &__list {
        display: flex;
        align-items: center;
        gap: 48px;
        @include abstracts.screen(lg) {
            flex-direction: column;
            flex: 1;
            gap: 0;
        }
    }
    &__item {
        position: relative;
        width: 100%;
        padding: 10px;

        &:hover .navbar__dropdown {
            display: block;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        gap: 6px;

        font-weight: 400;
        line-height: 175%;
        white-space: nowrap;
    }
    &__icon {
        margin-top: 3px;
    }

    &__dropdown {
        position: absolute;
        left: 0;
        top: 54px;

        background: #fff;
        width: 170px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 0 0 12px 12px;
        display: none;

        &::before {
            position: absolute;
            content: "";
            width: 100%;
            background: transparent;
            top: -22px;
            right: 0;
            height: 21px;
        }

        &-link {
            display: inline-block;
            margin-top: 12px;
            color: #575363;
            line-height: 175%;
        }
    }
}

.top-act {
    margin-left: auto;
    display: flex;
    gap: 30px;
    @include abstracts.screen(md) {
        margin-top: 20px;
        flex-direction: column;
    }
}
.hero {
    margin-top: 52px;

    &__lable {
        color: #572af8;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 166.667%;
        letter-spacing: 3.6px;
    }
    &__title {
        margin-top: 12px;
        font-size: 7.4rem;
        font-weight: 600;
        line-height: 100%;
        &-icon {
            @include abstracts.screen(lg) {
                width: 34px;
                height: 34px;
            }
        }
    }
    &__desc {
        margin-top: 18px;

        font-size: 1.8rem;
        font-weight: 400;
        line-height: 166.667%;
    }
    &__form {
        margin-top: 38px;

        &-group {
            display: flex;
            align-items: center;
            gap: 16px;
            @include abstracts.screen(md) {
                flex-wrap: wrap;
            }
        }
        &-input-group {
            background: #fff;
            width: 310px;
            height: 60px;
            border-radius: 6px;
            border: 1px solid #191720;
            display: flex;
            align-items: center;
            gap: 11px;
            padding: 18px 0 18px 13px;
            @include abstracts.screen(md) {
                width: 100%;
            }
        }
        &-input {
            width: 100%;
            height: 100%;
            &::placeholder {
                font-size: 1.6rem;
                color: #575363;
                line-height: 175%;
            }
        }
        &-btn {
            height: 60px;
            @include abstracts.screen(md) {
                width: 100%;
            }
        }
    }
    &__download {
        margin-top: 38px;
        display: flex;
        align-items: center;
        gap: 16px;
        &-lable {
            font-size: 2rem;
            font-weight: 700;
            line-height: 150%;
        }
        &-group {
            width: 48px;
            height: 48px;
            border: 1px solid #191720;
            border-radius: 50%;
            background: #fff;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__bg {
        width: 100%;
    }
}
